.movie-item {
  padding: 20px;
  background-color: #ffeedb;
  display: flex;
  min-width: 300px;
  min-height: 150px;
}

.movie-item__poster {
  height: 150px;
  margin-right: 21px;
}

.movie-item__title {
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 14px;
}

.movie-item__add-button {
  border: none;
  background-color: #496ddb;
  padding: 8px 12px;
  color: #ffeedb;
  font-size: 12px;
  transition: all 1s;
}

.movie-item__add-button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: all 1s linear;
}

.not-poster {
  border: 1px solid;
  text-align: center;
  padding: 5px;
  background-color: white;
  width: 100px;
  height: 150px;
  margin-right: 21px;
  align-items: center;
  display: flex;
}
.movie-item__add-button:disabled {
  background-color: rgb(48, 163, 37);
  color: rgb(255, 255, 255);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 5px;
  cursor: not-allowed;
}
@media (min-width: 320px) and (max-width: 768px) {
  .movie-item {
    margin-right: 10px;
    padding: 5px;
    background-color: #ffeedb;
    display: flex;
    min-width: 250px;
    width: 100%;
    max-width: 500px;
    min-height: 100px;
  }
  .movie-item__poster {
    min-width: 60px;
    width: 90%;
    max-width: 75px;

    min-height: 100px;
    height: 90%;
    max-height: 150px;
    margin-right: 11px;
  }
  .movie-item__title {
    min-width: 140px;
    width: 100%;
    max-width: 300px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .movie-item__info {
    width: 100%;
    min-width: 140px;
    max-width: 500px;
  }
}
